---
import type { Props } from '@astrojs/starlight/props';

import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';

import FCCThemeSelect from './FCCThemeSelect.astro';
---

<div class='flex justify-between items-center'>
  <div class='flex md:w-64'>
    <Search {...Astro.props} />
  </div>
  <div class='flex-1 flex justify-center'>
    <div class='overflow-hidden max-w-[240px]'>
      <SiteTitle {...Astro.props} />
    </div>
  </div>
  <div class='hidden md:flex items-center space-x-4'>
    <div
      class="flex items-center space-x-4 after:content-[''] after:h-8 after:border-r after:border-gray-300 dark:after:border-gray-700"
    >
      <SocialIcons {...Astro.props} />
    </div>
    <FCCThemeSelect {...Astro.props} />
    <LanguageSelect {...Astro.props} />
  </div>
</div>
