<theme-button>
  <button class='theme-toggle' aria-label='Toggle Theme'>💡</button>
</theme-button>

<script>
  import type { ThemeChangeEvent, Theme } from '../theme';

  const theme = window.theme;
  class ThemeButton extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector('.theme-toggle');
      if (!button) {
        return;
      }

      button.addEventListener('click', () => {
        const currentTheme = theme.getTheme();
        let newTheme: Theme;
        if (currentTheme == 'light') {
          newTheme = 'dark';
        } else if (currentTheme == 'dark') {
          newTheme = 'light';
        } else {
          newTheme = matchMedia('(prefers-color-scheme: light)').matches
            ? 'dark'
            : 'light';
        }
        theme.setTheme(newTheme);
        this.updateSelectedTheme(newTheme);
      });
      window.addEventListener('theme-changed', (event: ThemeChangeEvent) => {
        this.updateSelectedTheme(event.detail.theme);
      });
    }
    updateSelectedTheme(newTheme: Theme) {
      (this.querySelector('.theme-toggle') as HTMLButtonElement).value =
        newTheme;
    }
  }
  customElements.define('theme-button', ThemeButton);
</script>

<style>
  .theme-toggle {
    background-color: var(--tertiary-background);
  }
</style>
