name: Build Check

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    uses: ./.github/workflows/re-lint.yml
    secrets: inherit

  test:
    name: Test
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    uses: ./.github/workflows/re-test.yml
    secrets: inherit

  build:
    name: Build
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    needs: [lint, test]
    uses: ./.github/workflows/re-build.yml
    with:
      upload-artifacts: true
    secrets: inherit
